            <!-- Email Footer : BEGIN -->
            <table align="center" width="600" class="email-container">
                <tr>
                    <td style="padding: 40px 10px;width: 100%;font-size: 12px; font-family: sans-serif; mso-height-rule: exactly; line-height:18px; text-align: center; color: #888888;">
                        <webversion style="color:#cccccc; text-decoration:underline; font-weight: bold;">View as a Web Page</webversion>
                        <br><br>
                        {{companyname}}{{#if companyaddress}}<br><span class="mobile-link--footer">{{companyaddress}}</span>{{/if}}{{#if companyphone}}<br><span class="mobile-link--footer">{{companyphone}}</span>{{/if}}
                        <br><br>
                        <unsubscribe style="color:#888888; text-decoration:underline;">unsubscribe</unsubscribe>
                    </td>
                </tr>
            </table>
            <!-- Email Footer : END -->

            <!--[if (gte mso 9)|(IE)]>
            </td>
            </tr>
            </table>
            <![endif]-->
        </div>
    </center>
</td></tr></table>
</body>
</html>
