				<!-- Hero Image, Flush : BEGIN -->
                <tr>
					<td>
						{{#if url}}<a href="{{url}}">{{/if}}<img src="{{src}}" width="600" height="" alt="{{alt}}" border="0" align="center" style="width: 100%; max-width: 600px;">{{#if url}}</a>{{/if}}
					</td>
                </tr>
                <!-- Hero Image, Flush : END -->
