		<!-- Email Header : BEGIN -->
        <table align="center" width="600" class="email-container">
			<tr>
				<td style="padding: 20px 0; text-align: center">
					<img src="http://placehold.it/200x50" width="200" height="50" alt="alt_text" border="0">
				</td>
			</tr>
        </table>
        <!-- Email Header : END -->