		<!-- Email Header : BEGIN -->
        <table align="center" width="600" class="email-container">
			<tr>
				<td style="padding: 20px 0; text-align: center">
					{{#if url}}<a href="{{url}}">{{/if}}<img src="{{src}}" width="200" height="" alt="{{alt}}" border="0">{{#if url}}</a>{{/if}}
				</td>
			</tr>
        </table>
        <!-- Email Header : END -->